<div class="comments-add">
	<div class="comment">
	<%= form_for Comment.new, :remote => true, :html => { :class => "create_comment_form" } do |c| %>	
		<div class="honeypot_field">
			<input type="text" id="email" name="email"/>
		</div>
		<fieldset>
    	<p>
				<label>I want to indiscriminately yell the following...</label>
				<%= c.text_area( :body, :cols => 60, :rows => 5, :class => 'text_input') %>
			</p>
			<p>
				<input type="submit" class="form-button comments-button" value="Post" />
			</p>
		</fieldset>
		<%= c.hidden_field :article_id, :value => article.id -%>
	<% end -%>
	</div>
</div>