<div class="article_wrapper" ng-repeat="article in articleCtrl.articles" on-finish-render="articlesRendered">
  <div id="article_{{ article.id }}" class="article" ng-click="click($event)">
    <div class="article_overlay" style="background-image:url({{ article.homepage_image_url }}">
      <div class="overlay_el whitebg"></div>
      <div class="overlay_el label" style="{{ articleCtrl.font($index) }}">{{ article.title }}</div>
    </div>
  </div>
  <div class="article_body">
  	<p class="meta">
  		<span class="date">{{ article.posted_at }}</span>
  		<span class="posted">
        Posted by <span class="dyn_info">{{ article.user.username }}</span>
        <span ng-show="article.category" class="dyn_info">in {{ article.category.name }}</span>
  	</p>
    <p ng-class="{ article_text: $index == 1 }" ng-bind-html="article.body | htmlSafe"></p>
    <p class="links">  	  
      <a ng-if="article.url" href class="more" target="_blank">Follow the link</a>
      <a ng-if="!article.url" href class="more" target="_blank">Read the article</a>
      <a href class="comments">Show Comments ({{ article.comments.length || 0 }})</a>
    </p>
    <div class="comments-container">
  	  <%= render :partial => "comments/list"%>
  	  <%#= render :partial => "comments/add"%>
    </div>
  </div>
</div>