<div id="article_list">
  <% @articles.each_with_index do |article,index| -%>
  	<%= render :partial => "articles/article", :locals => {:article => article, :article_index => index + 1 }%>
  <% end -%>
  <%= render :partial => "articles/pagination", :locals => {:articles_per_page => @articles_per_page, :total_articles => @total_articles }%>
</div>
