<script type="text/javascript">
  $(document).ready(function(){
    $('.article_text').readmore({
      moreLink: '<a href="#" style="padding-left: 1px">More...</a>'
    });
  })
</script>

<div id="article_list" ng-controller="ArticleController as articleCtrl">
  <%= render :partial => "articles/article" %>
</div>
