/* Basic  ---------------------------------------- */

.clear { clear: both; }

body {
	background: #232323;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}

#wrapper {
	text-align: left;
	width: 930px;
	margin: 0 auto;
}

/* Logo  ---------------------------------------- */

h1 {
	margin: 15px 0 10px 5px;
	width: 225px;
	height: 28px;
	background: url(/images/transdmin-light.gif) no-repeat left top;
}

h1 a {
	display: block;
	width: 225px;
	height: 28px;
}

h1 span { display: none; }

/* Main Navigation ---------------------------------------- */

#mainNav {
	width: 918px;
	height: 37px;
	padding: 6px;
	margin: 30px 0;
	/*background: url(/images/top-menu-bg.gif) no-repeat left top;*/
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#mainNav li.nav {
	float: left;
	height: 37px;
}

#mainNav li.nav a,span.nav {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #E0E0E0;
	padding: 0 20px;
}

#mainNav li.welcome-message {
	float: right;
	border-right: none;
}

#mainNav li.login-status {
	float: right;
}

#mainNav li a:hover { background: #EFEFEF; }

#mainNav li a.active, #mainNav li a.active {
	background: #f0f0f0 url(/images/top-menu-item-bg.gif) repeat-x left top;
	color: #454545;
}

/* Container ---------------------------------------- */

#containerHolder {
	background: #eee;
	padding: 5px;
}

/*
#container {
	background: #fff url(/images/content.gif) repeat-y left top;
	border: 1px solid #ddd;
	width: 918px;
}
*/

/* Sidebar ---------------------------------------- */

#sidebar {
	width: 179px;
	height: 400px;
	background-color: #F6F6F6;
	float: left;
}

#sidebar .sideNav { width: 179px; }

#sidebar .sideNav li { border-bottom: 1px solid #ddd; width: 179px; }

#sidebar .sideNav li a {
	display: block;
	color: #646464;
	background: #f6f6f6;
	text-decoration: none;
	height: 29px;
	line-height: 29px;
	padding: 0 19px;
	width: 141px;
}

#sidebar .sideNav li a:hover { background: #EFEFEF; }

#sidebar .sideNav li a.active, #sidebar .sideNav li a.active:hover {
	background: #f0f7fa;
	color: #c66653;
}

/* Breadcrumb ---------------------------------------- */

h2.breadcrumb {
	width: 718px;
	color: #646464;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0 0 10px 5px;
	/*border-bottom: 1px solid #ddd;*/
}

h2.breadcrumb a {
	color: #E0E0E0;
	text-decoration: none;
}

h2.breadcrumb a.active { color: #c66653; }

h2.breadcrumb a:hover { text-decoration: underline; }

/* Content ---------------------------------------- */

#main-container {
	float: right;
}

#main {
	width: 700px;
	float: right;
	padding: 0 19px 19px 0;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: black;
	padding: 0 0 0 10px;
	margin: 20px 0 10px;
}

#main table.admin-table {
	border-top: 1px solid #ddd;
	width: 700px;
}

#main table.admin-table tr td {
	background: #f6f6f6;
	padding: 0px 20px;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #ddd;
}

#main table.admin-table tr.odd td {
	background: #fbfbfb;
}

#main table.admin-table tr:hover td { background: #EFEFEF; }

#main table.admin-table .action {
	text-align: right;
	padding: 0 20px 0 10px;
}

#main table.admin-table tr .action a { margin: 0 0 0 10px; text-decoration: none; color: #9b9b9b; }
#main table.admin-table tr:hover .action .edit { color: #c5a059; }
#main table.admin-table tr:hover .action .delete { color: #a02b2b; }
#main table.admin-table tr:hover .action .add { color: #55a34a; }

#main table.admin-table tr .action .disable_delete { margin: 0 0 0 10px; color: #9B9B9B; text-decoration: line-through; }

#main table.admin-table tr:hover .action a:hover { text-decoration: underline; }


#main fieldset {
	/*border: 1px solid #ddd;*/
	padding: 19px;
	/*margin: 0 0 20px 0;*/
	/*background: #fbfbfb;*/
	font: 14px Arial, Helvetica, sans-serif;
}

#main fieldset p { margin: 0 0 14px 0; float: left; width: 100%;  }

  #main fieldset p label {
  	display: block;
  	width: 100%;
  	margin: 0 0 7px 0;
  	line-height: 15px;
  }

  #main fieldset p span {
  	font: 12px Arial, Helvetica, sans-serif;
  }

  #main fieldset p.hor label {
  	display: inline;
  }

#main fieldset .text-long {
	border: 1px solid #ddd;
	background: #fff url(/images/input-shaddow.gif) no-repeat left top;
	font: 14px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 500px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-medium {
	border: 1px solid #ddd;
	background: #fff url(/images/input-shaddow.gif) no-repeat left top;
	font: 14px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 124px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-small {
	border: 1px solid #ddd;
	background: #fff url(/images/input-shaddow.gif) no-repeat left top;
	font: 14px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 44px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset textarea {
	border: 1px solid #ddd;
	background: #fff url(/images/input-shaddow.gif) no-repeat left top;
	font: 14px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 500px;
	float: left;
	margin: 0 10px 0 0;
	height: 148px;
	overflow: hidden;
}

.login_elements a {
  font-size:0.9em;
  padding-top:4px;
  color:#646464;
  display:block;
  text-decoration:none;
}

  .login_elements a:hover {
    text-decoration:underline;
  }
  
.login_elements .login_actions {
  margin-top:20px;
}

.button-submit {
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	width: 94px;
	height: 29px;
	cursor: pointer;
	border: none;
	background: url(/images/button-submit.gif) no-repeat left top;
}

/* Footer ---------------------------------------- */

#footer {
	margin: 10px 0 30px 0;
	font-size: 11px;
	line-height: 11px;
	color: #9B9B9B;
	padding: 0 0 0 5px;
	text-align: right;
}

#footer a { color: #9B9B9B; }

#footer a:hover { text-decoration: none; }

/* Custom Mods ----------------------------------- */
div#message-container {
	background-color: #F6F6F6;
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin: 10px 10px 10px 0;
}

#cropbox {
  display:none;
}

div#message-container p.error { color: #9E2C38;}
div#message-container p.message { color: #2C2E9E;}
div#message-container p.warning { color: #9E9A2C;}