<div id="sidebar">
	<ul>
	  <li><%= render :partial => "/site/homepage/filters" %></li>
		<li><%= render :partial => "/site/homepage/search" %></li>
    <%= render :partial => "/site/homepage/twitter" %>
	</ul>
</div>