<%= link_to(url || '/', :class => 'social_media_link', :target => '_blank') do %>
  <div class="social_media_image">
    <div class="social_media_image_background" style="background-image:url(<%= asset_path("application/headings/#{name}.gif") %>)"></div>
  </div>
<% end %>