<%= link_to(url || '/', :class => 'social_media', :target => '_blank') do %>
  <div class="social_media_image">
    <div class="social_media_image_background" style="background-image:url(/assets/application/headings/<%= name %>.gif)"></div>
  </div>
<% end %>