<% non_text ||= false %>
<div class="form-group<% if form.object.errors.has_key?(attribute) %> has-error<% end %>">
  <% if defined?(attribute) %>
    <%= label_tag attribute, attribute.to_s.humanize.titleize, label_html_options({ non_text: non_text }) %>
  <% else %>
    <%= label_tag '', '', label_html_options({ non_text: non_text }) %>
  <% end %>
  <div class="col-sm-10">
    <%= yield %>
    <% if form.object.errors.has_key?(attribute) %>
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    <% end %>
  </div>
</div>
