<% @galleries.each do |gallery| %>
  <div class="image_gallery">
    <p class="description"><%= gallery.description %></p>
    <%= render partial: 'gallery', locals: { gallery: gallery } %>
  </div>
<% end %>
